
-html{
font-size:20px;
}
 #cazador {
             margin: 0;
            height: 100vh;
            position: relative;
            background-color: #f0f0f0;
            overflow: hidden;
            cursor: pointer;
        }

        #cazador {
            position: absolute;
            width: 180px; /* Ancho de la imagen */
            height: auto; /* Mantener proporción */
            pointer-events: none; /* Para que no interfiera con los clics */
        }
h1{
  font-size: 50px;
  text-align:center;
  color: white;
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 2px 1px red;
}-html{
  font-size:20px;
}

h1{
  font-size: 50px;
  text-align:center;
  color: white;
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 2px 1px red;
}

h2{
font-size:30px;
color:white;
text-align:center;
margin:0;
padding: 20px 0;
text-shadow: 3px 2px 1px red;
}
p,li{
  font-size:20px;
  line-height:2;
  color:red;
}

html{
  background-color: #000000
}
img{
  display: block;
  margin: 0 auto;
}
 #cazador {
             margin: 0;
            height: 100vh;
            position: relative;
            background-color: #f0f0f0;
            overflow: hidden;
            cursor: pointer;
        }

              #cazador {
                z-index:99999;
            position: absolute;
            width: auto;
            height: auto;
            pointer-events: none;
        }

#cazador {
            position: ;
            z-index: 9999;
            top: 40%;
            left: 20%;
            transform: translate(-50%, -50%);
            animation: girar 3s linear infinite;
        }

       
        @keyframes girar {
            from {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            to {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
#amigo{
  position: absolute;
}